.comment{
    width: 100%;
    margin: 25px 0;
}
.line{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.body{
    width: 92%;
    text-indent: 30px;
    font-size: 20px;
    margin-top: 10px;
}
.like{
    width: 8%;
}