.messagesWindow {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 100px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

.chatter {
    max-width: 79%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.body{
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.messages{
    width: 100%;
    padding: 0 25px;
    overflow-y: scroll;
}

.inputBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}